{#  
    I used a couple of sites to get to this working version. First I had to 
    put my jinja2.py file in the correct location (or correctly call it 
    from the location it is in). I started with the location that 
    was pointed out here: 
    https://medium.com/@samuh/using-jinja2-with-django-1-8-onwards-9c58fe1204dc

    I moved it to the polls folder and changed settings.py accordingly, and 
    that worked. 
#}
<h1>{{ question.question_text }}</h1>

<p>Go ahead and vote by selecting an option and clicking the Vote button.</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{{ url('polls:vote', args=[question.id,]) }}" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{% for choice in question.choice_set.all() %}
    <input type="radio" name="choice" id="choice{{ loop.index }}" value="{{ choice.id }}">
    <label for="choice{{ loop.index }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>
