{% if green_question_list %}
    <ul>
    {% for question in green_question_list %}
        <li><a href="{{ url('polls:detail', args=[question.id,]) }}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
