<h1>{{ question.question_text }}</h1>

<ul>
{% for choice in question.choice_set.all() %}
{# 
    the end of the line used to use the pluralize filter, but that isn't 
    available in a Jinja2 template. I should create a custom filter in 
    Jinja2 so that I know how they work. See 
    https://jinja.palletsprojects.com/en/2.11.x/extensions/#module-jinja2.ext
    for an example of writing a filter in Jinja. Here is what the old line was:

    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>

    What I want is a pluralie filter.
#}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} 
        {% if choice.votes > 1 %} 
            votes 
        {% else %} 
            vote{{ choice.votes|jpluralize }}
        {% endif %}
    </li>
{% endfor %}
</ul>

<a href="{{ url('polls:detail', args=[question.id]) }}">Vote again?</a>
